body{
    background-color: #Fff;
}

#upperside {
  display: flex;
  align-items: center;
  background-color: #F4FCFD;
}

#upperside img {
  margin-right: 30rem; /* Add some spacing between the logo and the navigation */
}

nav {
    // background-color: #333;
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      li {
        display: inline-block;
        a {
          display: block;
          color: #333;
          text-decoration: none;
          padding: 10px 20px;
          &.active {
            color: #04a6c2; /* Specify the color for the active link */
          }
        }
      }
    }
  }

#upperside .custom-btn{
    background-color: #04a6c2;
    font-weight: bold;
    color:azure;
}
  